## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [25]:
import pandas as pd

# загрузите датасет
df = pd.read_csv('vgsales.csv')  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.sample(2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9551,9553,LEGO Racers 2,PS2,2001.0,Racing,Electronic Arts,0.06,0.05,0.0,0.02,0.13
14854,14857,The Lord of the Rings: Conquest,PC,2009.0,Action,Electronic Arts,0.00,0.02,0.0,0.00,0.03

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [132]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [133]:
# ваш код здесь
df.nunique()

Rank            16598
Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

вопрос 2: Какова общая величина продаж игр в Японии?

In [31]:
# ваш код здесь
df.JP_Sales.sum().round(2)

1291.02

In [ ]:
вопрос 3: Какие три жанра игр самые попoулярные в Северной Америке (по количеству продаж)?

In [135]:
# ваш код здесь
df_top_na = df.groupby('Genre')['NA_Sales'].sum().reset_index()
df_top_na.sort_values('NA_Sales', ascending=False)[:3]

      Genre  NA_Sales
0    Action    877.83
10   Sports    683.35
8   Shooter    582.60

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [32]:
# ваш код здесь
df_top_platform = df.query('Year == 2015.0')
df_top_platform.value_counts('Platform').reset_index().head(3)

  Platform  count
0      PS4    137
1      PSV    113
2      3DS     86

In [32]:
# ваш код здесь
df_top_platform = df.query('Year == 2015.0')
df_top_platform.value_counts('Platform').reset_index().head(3)

  Platform  count
0      PS4    137
1      PSV    113
2      3DS     86

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [182]:
# ваш код здесь
df_top_publisher = df.query('Year >= 2012.0 and Year <= 2015.0')
df_top_publisher.value_counts('Publisher').reset_index().head(3)

            Publisher  count
0  Namco Bandai Games    285
1          Activision    161
2     Electronic Arts    156

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [23]:
# ваш код здесь
df_top_eu = df.groupby('Genre')['EU_Sales'].sum().reset_index()
df_eu = df_top_eu.sort_values('EU_Sales', ascending=False)
df_eu['Procent_Sales'] = df_eu['EU_Sales']*100/df_eu['EU_Sales'].sum()
df_eu

           Genre  EU_Sales  Procent_Sales
0         Action    525.00      21.568281
10        Sports    376.85      15.481918
8        Shooter    313.27      12.869896
6         Racing    238.39       9.793643
3           Misc    215.98       8.872985
4       Platform    201.63       8.283452
7   Role-Playing    188.06       7.725964
9     Simulation    113.38       4.657927
2       Fighting    101.32       4.162473
1      Adventure     64.13       2.634617
5         Puzzle     50.78       2.086166
11      Strategy     45.34       1.862678